
<h1><%= @post.title %></h1>
<h3>Categories: </h3>
<ul>
    <% @post.categories.each do |c|%>
        <li><%= c.name %></li>
    <% end %>      
</ul>
<h4> Content: </h4>
<p><%= @post.content %></p>

<h5>Comments:</h5>
<ul>
    <% @post.users.uniq.each do |user|%>
        <li><%= link_to user.username, user_path(user) %> says:
                <%user.comments.select {|c| c.post_id = @post.id}.each do |comment| %>
                    <%= comment.content %> <br>
                <% end %>
        </li>    
    <% end %>
</ul>
<h4>Add a Comment: </h4>
<%= form_for @comment do |f|%>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.label "Select or create a User:"%>
    <%= f.collection_select :user_id,  User.all, :id, :username, :include_blank => true %>
    <%= f.label "Create_User"%>
    <%= f.fields_for :user, @comment.build_user do |user_fields| %>
        <%= user_fields.text_field :username %>
    <% end %>
    <%= f.label "Comment:" %>
    <%= f.text_field :content %>
    <%= f.submit %>
<% end %>